<template>
  <scroller :class="['wrapper']">
    <!-- <refresh class="refresh" @refresh="onrefresh" :display="refreshing ? 'show' : 'hide'">
      <text class="indicator-text">Refreshing ...</text>
      <loading-indicator class="indicator"></loading-indicator>
    </refresh> -->
    <div class="header">
      <text class="header-title">专题</text>
    </div>
    <Carousel />
    <div class="flex-row"><image class="fl" src='http://cdn.emas-poc.com/material/emasyanshichanpin/icon_FL@3x.png'/><text class="text text1">军人英姿飒爽</text></div>
    <text class="text text2">峥嵘岁月，百舸争流</text>
    <div class="main">
      <!-- <ItemBox @onNodeClick='onJump' :data='data1'/> -->
      <ItemList @onNodeClick='onJump' :data='data1'/>
    </div>
    <div class="flex-row"><image class="fl" src='http://cdn.emas-poc.com/material/emasyanshichanpin/icon_FL@3x.png'/><text class="text text1">飞机大炮齐上阵</text></div>
    <text class="text text2">鹰击长空，谁与争锋</text>
    <div class="main">
      <!-- <ItemBox @onNodeClick='onJump' :data='data2'/> -->
      <ItemList @onNodeClick='onJump' :data='data2'/>
    </div>
    <div class="flex-row"><image class="fl" src='http://cdn.emas-poc.com/material/emasyanshichanpin/icon_FL@3x.png'/><text class="text text1">开闭幕仪式</text></div>
    <text class="text text2">铿锵有力，强国雄风</text>
    <div class="main">
      <!-- <ItemBox @onNodeClick='onJump' :data='data3'/> -->
      <ItemList @onNodeClick='onJump' :data='data3'/>
    </div>
    <div :class="['panel', util.env.isIPhoneX() ? 'ipx-panel' : '']"></div>
  </scroller>
</template>

<script>
import Carousel from "../../components/carousel.vue";
import ItemList from "../../components/item-list.vue";
import ItemBox from "../../components/item-box.vue";
import { data1, data2, data3 } from "./data.js";
import { jump } from "../../utils/index.js";
import util from "../../utils/utils.js";

export default {
  name: "App",
  components: {
    Carousel,
    ItemList,
    ItemBox
  },
  data() {
    return {
      data1,
      data2,
      data3,
      refreshing: false,
      util
    };
  },
  methods: {
    onrefresh(event) {
      this.refreshing = true;
      setTimeout(() => {
        this.data1 = this.data1.reverse()
        this.data2 = this.data2.reverse()
        this.data3 = this.data3.reverse()
        this.refreshing = false;
      }, 2000);
    },
    onJump(i) {
      jump("details", {type: i});
    }
  }
};
</script>

<style scoped>
.header-title {
  font-size: 38px;
  color: white;
  text-align: center;
  padding: 35px 0 16px 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 31px;
}
.panel {
  height: 140px;
  width: 750px;
}
.ipx-panel {
  height: 280px;
}
.fl {
  height: 35px;
  width: 35px;
  margin-right: 12px;
  margin-left: 25px;
}
.refresh {
  width: 750px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.indicator-text {
  color: #888888;
  font-size: 42px;
  text-align: center;
}
.indicator {
  margin-top: 16px;
  height: 40px;
  width: 40px;
  color: blue;
}

.wrapper {
  background-color: #1d212b;
}


.text {
  font-size: 38px;
  color: white;
}
.text1 {
  font-size: 36px;
}
.text2 {
  font-size: 30px;
  margin: 5px 0 28px 25px;
  opacity: .6;
}
</style>