<template>
  <list class="body">
    <!-- <refresh class="refresh" @refresh="onrefresh" :display="refreshing ? 'show' : 'hide'">
      <text class="indicator-text">Refreshing ...</text>
      <loading-indicator class="indicator"></loading-indicator>
    </refresh> -->
    <cell :class="['content']">
      <div class="header">
        <text class="header-title">消息</text>
      </div>
      <div class="main">
        <ImgTitle :data='data2'/>
        <text class="title">你可能感兴趣的人</text>
        <IconList :data='data1'/>
      </div>
      <div :class="['panel', util.env.isIPhoneX() ? 'ipx-panel' : '']"></div>
    </cell>
  </list>
</template>

<script>
import IconList from "../../components/icon-list.vue";
import ImgTitle from "../../components/img-title.vue";
import { data1, data2 } from "./data.js";
import util from "../../utils/utils.js";

export default {
  components: {
    IconList,
    ImgTitle
  },
  data() {
    return {
      data1,
      data2,
      refreshing: false,
      util
    };
  },
  methods: {
    onrefresh(event) {
      this.refreshing = true;
      setTimeout(() => {
        this.refreshing = false;
      }, 2000);
    }
  }
};
</script>

<style scoped>
.header-title {
  font-size: 38px;
  color: white;
  text-align: center;
  padding: 35px 0 16px 0;
  border-bottom-color: #979797;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 750px;
}
.panel {
  height: 140px;
  width: 750px;
}
.ipx-panel {
  height: 280px;
}
.refresh {
  width: 750;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #e7e7e7;
}
.indicator-text {
  color: #888888;
  font-size: 42px;
  text-align: center;
}
.indicator {
  margin-top: 16px;
  height: 40px;
  width: 40px;
  color: blue;
}

.body {
  background-color: #1d212b;
}

.content {
  align-items: center;
}

.main {
  width: 700px;
}

.title {
  color: #e7e7e7;
  font-size: 28px;
  opacity: 0.6;
  margin-top: 55px;
}
</style>
