<template>
  <div>
    <slider class="slider" interval="3000" auto-play="true">
      <div class="frame" v-for="(img, i) in imageList" :key="'lzc-' + i">
        <image class="image" resize="cover" :src="img.src" />>
      </div>
    </slider>
  </div>
</template>

<style scoped>
  .image {
    width: 750px;
    height: 240px;
  }
  .slider {
    width: 750px;
    height: 240px;
  }
  .frame {
    width: 750px;
    height: 240px;
    position: relative;
  }
</style>

<script>
  export default {
    data () {
      return {
        imageList: [
          { src: 'http://cdn.emas-poc.com/material/emasyanshichanpin/pic_banner@3x.png'},
        ]
      }
    }
  }
</script>