<template>
    <div>
        <div class="flex-center-both content" v-for="(item, i) of data" :key="'pz-' + i">
            <image resize='cover' class="img" :src='item.img' />
            <div class="flex-center-both main">
              <div>
                <text class="c-1 f-1">{{item.title}}</text>
                <text class="c-1 f-2">{{item.info}}</text>
              </div>
              <text class="add">+ 加入</text>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array
    }
  }
};
</script>

<style scoped>
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-center-both {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content {
  height: 172px;
  border-bottom-color: #454850;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.main {
  width: 575px;
  height: 100px;
  
}
.img {
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

.c-1 {
  color: white;
}

.f-1 {
  font-size: 32px;
}

.f-2 {
  font-size: 24px;
  opacity: .5;
  width: 380px;
}

.add {
  height: 50px;
  line-height: 50px;
  width: 120px;
  text-align: center;
  background-color: #00C1DE;
  color: white;
  border-radius: 5px;
  font-size: 30px;
}
</style>


