<template>
  <div class="flex-row">
    <div class="main center" v-for="(item, i) of data" :key="'io-' + i">
      <image resize='cover' :class="['img', 'img-' + i]" :src='item.img' />
      <text class="name">{{item.title}}</text>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array
    }
  }
};
</script>

<style scoped>
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 21px;
}
.center {
  align-items: center;
}
.img {
  width: 100px;
  height: 100px;
  margin: 0 38px;
}

.name {
  color: white;
  font-size: 28px;
  margin-top: 16px;
}
</style>

