<template>
    <div class="flex">
        <div @click="$emit('onNodeClick', item.id)" v-for="(item, i) of data" :class="['main', 'main-' + i]" :key="'lz-' + i">
            <image resize='cover' :class="['img']" :src='item.img' />
            <div class="content">
                <text class="text2">{{item.title}}</text>
                <div class="flex-center-both">
                    <div class="flex-row">
                        <image class="avatar" :src='item.artboard' />
                        <text class="text1">{{item.author}}</text>
                    </div>
                    <text class="text1 c-1">{{item.time}}</text>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array
    }
  }
};
</script>

<style scoped>
.flex {
  flex-direction: row;
  flex-wrap: wrap;
  width: 750px;
  /* margin-top: 5px; */
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 220px;  
}
.flex-center-both {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.c-1 {
  color: white;
}

.text1 {
  font-size: 24px;
  margin-left: 24px;
  color: white;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 18px;
}
.main {
  margin-left: 5px;
  margin-bottom: 5px;
  position: relative;
  width: 372px;
  height: 495px;
}
.main-0,
.main-2 {
  margin-left: 0;
}
.content {
  position: absolute;
  bottom: 30px;
}
.img {
  width: 372px;
  height: 495px;
}
.text2 {
  width: 330px;
  font-size: 26px;
  margin-left: 18px;
  margin-bottom: 12px;
  color: white;
}
</style>

