<template>
    <scroller class="list" scroll-direction="horizontal" shouldStopPropagationInitResult="false" shouldStopPropagationInterval="1000000" @stoppropagation="Env.platform === 'iOS' ? false : true" show-scrollbar=false :scrollable=true >
      <div @click="$emit('onNodeClick', item.id)" class="cell" v-for="(item, i) of data" :key="'z-' + i">
        <div class="panel">
          <image resize='cover' class="bgm" :src='item.img' />
          <div class="flex-center-both">
            <div class="flex-row">
              <image class="avatar" :src='item.artboard' />
              <text class="text1">  {{item.author}}</text>
            </div>
            <text class="text1">{{item.time}}</text>
          </div>
          <text class="text2">{{item.title}}</text>
        </div>
      </div>
    </scroller>
</template>

<script>
const modal = weex.requireModule("modal");

export default {
  props: {
    data: {
      type: Array
    }
  },
  created() {}
};
</script>

<style>
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-center-both {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 18px;
}
.panel {
  width: 261px;
}
.list {
  flex-direction: row;
  margin-top: 15px;
  margin-left: 25px;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.cell {
  width: 270px;
  margin-right: 15px;
}

.bgm {
  width: 261px;
  height: 347px;
}

.text1 {
  font-size: 24px;
  color: white;
  /* margin-left: 24px; */
}

.text2 {
  font-size: 26px;
  color: white;
  /* margin-bottom: 40px; */
}
</style>
