<template>
  <div class="body">
    <video class="video" :src="src" controls="true" auto-play="true" @start="onstart" @pause="onpause" @finish="onfinish" @fail="onfail"></video>
  </div>
</template>

<script>
import { getQuery } from "../../utils/index.js";

export default {
  data() {
    return {
      src:
        "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/50b6d7d96eb8a7d2c370854ca90f835c.mp4",
      height: weex.config.env.deviceHeight / weex.config.env.deviceWidth * 750,
      vHeight:
        weex.config.env.deviceHeight / weex.config.env.deviceWidth * 750 - 200
    };
  },
  created() {
    console.log(getQuery("type", weex.config.bundleUrl));
    let url = "";
    switch (getQuery("type", weex.config.bundleUrl)) {
      case "0":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/50b6d7d96eb8a7d2c370854ca90f835c.mp4";
        break;
      case "1":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/71501f6a482aaac336abe61b92dd5a99.mp4";
        break;
      case "2":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/7fe5da034a3b8587aaedd817f0862ba6.mp4";
        break;
      case "3":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/0614baa24a3ceec714ce789fb8cc7fad.mp4";
        break;
      case "4":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/6112aac5b744eda3a142b8d6666146e6.mp4";
        break;
      case "5":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/fb8bab40eaa7356182cdc1e22b9158c0.mp4";
        break;
      case "6":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/ba8cfd248df467d46c035ca0628c209c.mp4";
        break;
      case "7":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/eaae469ce291af374203fcefeb9b2e3f.mp4";
        break;
      case "8":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/3fd06862ccb50b3207bbcaaace0ccd42.mp4";
        break;
      case "9":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/e89c8fd18a9aa9faeb33a43d3df56b26.mp4";
        break;
      case "10":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/03b2fa1174db383e341024f2d0bce30a.mp4";
        break;
      case "11":
        url =
          "http://matp-test.cn-hangzhou.oss.aliyun-inc.com/803e6c9c9dc1c72e58cce378a4fb5321.mp4";
        break;
    }
    this.src = url;
  }
};
</script>

<style scoped>
.body {
  /* width: 750px; */
  background-color: black;
}
.video {
  /* width: 750px; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}
</style>